@tailwind base;
@tailwind components;
@tailwind utilities;

/* app.css */
:root{
    --bg: 20 21 18;       /* ink */
    --fg: 251 244 218;    /* cream */
    --accent: 246 188 37; /* gold */
    --good: 39 107 42;    /* fairway */
}

.dark{
    --bg: 20 21 18;
    --fg: 253 251 252;
}